@charset "UTF-8";
html{
  font-size: 100%;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
/*全体*/
.form{
    padding: 0 4%;
}
@media (min-width: 768px){
    .form{
        max-width: 1040px;
        margin: 0 auto;
        padding: 0 20px;
    }
}
/*ヘッダー*/
.header-container{
  display: flex;
  justify-content: space-between;
  margin-bottom:50px;
}
/*メニューボタン*/
.main-nav{
  display: flex;
  font-size: 1.25rem;
  margin-top: 34px;
  list-style: none;
}
.main-nav li{
  margin-left: 36px;
}

/* メイン */
.betting{
    display: flex;
    justify-content: center;
}
.betting .box{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
    width: 100px;
    height: 100px;
    margin-bottom: 100px;
}

.scroll-box{
  border: 1px solid #ccc;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: visible;
}
.candidates-container{
  display: inline-flex;
}
.candidate{
    font-weight: bold;
    border: solid 3px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 10px 10px 10px 10px;
}
.horse{
  width: 100px;
  height: 100px;
  object-fit: cover;
}